.body {
  background-color: white;
  margin: 0;
  padding: 0;
}
.bg {
  background-color: #a5e0ff;
  position: relative;
}
.navbar {
  background-color: #a5e0ff;
  padding-top: 1rem;
}
.container .jumbotron {
  padding-top: 2rem;
  background-color: #a5e0ff;
}
.page2 {
  padding-top: 2rem;
}
.page3 .page3{
    font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 75px;
            color: #5289E7;
            text-align: center;
}
.page4 .container .page4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    color: #5289E7;
    text-align: center;
}
.page4 .container .carousel-slide{
    text-align: center;
}