.body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.bg {
    background-color: #a5e0ff;
    position: relative;
}

.navbar {
    background-color: #a5e0ff;
    padding-top: 1rem;
}

.container .jumbotron {
    padding-top: 2rem;
    background-color: #a5e0ff;

}

.container .jumbotron .row .col h1 {
    margin-left: 100px;
    margin-top: 80px;
}

.page2 {
    padding-top: 2rem;
}

.page2 .container .row .col h1 {
    margin-top: 4rem;
}

.page3 .page3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    color: #5289E7;
    text-align: center;
}

.page3 .peta {
    display: block;
    margin-left: 30px;
}

.page4 .container .page4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    color: #5289E7;
    text-align: center;
}

.page4 .container .carousel-slide {
    text-align: center;
}

.iframe-container iframe {
    width: 100%;
    max-width: 1260px;
    height: 800px;
    border: none;
}
.iframe-container {
    width: 100%;
    max-width: 100%;
}

#iframeBiru {
    width: 100%;
    border: none;
    overflow: hidden;
}

.feature-box {
    background-color: #a5e0ff;
    padding: 50px 20px;
}
                            
.feature-card {
    transition: all 0.3s ease;
    border-radius: 12px;
    padding: 20px;
}
                            
.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff33;
}
                            
.icon-box {
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}
                            
.icon-box img {
    width: 35px;
}
                            
.feature-title {
    font-weight: bold;
    font-size: 18px;
    color: #3e3e3e;
}
                            
.feature-text {
    color: #3e3e3e;
    opacity: 0.8;
    font-size: 14px;
}
                            
.iframe-container {
    width: 100%;
    max-width: 100%;
}
                            
#iframeBiru {
    width: 100%;
    border: none;
    overflow: hidden;
}